  <mat-toolbar fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
	<span class="link" routerLink="/"><img src="../../favicon.ico" width="20"> Coaching </span>
	<span fxFlex="auto"></span>
    <span *ngIf="!(isLoggedin$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <span class="link" [routerLink]="'/signin'"> Sign in </span>
    </span>
    <span *ngIf="isLoggedin$ | async" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <span class="link" [routerLink]="'/week/' + (currentWeekNumber$ | async) + '/' + (currentWeekYear$ | async)"> Week </span>
      <span class="link" [routerLink]="'/profile'"> My profile </span>
      <mat-icon class="link" (click)="logout()">power_settings_new</mat-icon>
    </span>
  </mat-toolbar>
