<form [formGroup]="form">
  <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <mat-slide-toggle formControlName="offActive">Day off!</mat-slide-toggle>
  </span>

  <hr>
  
  <span fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end center">
    <button *ngIf="activityDetail.id" mat-raised-button color="primary" (click)="remove()">Remove</button>
    <button *ngIf="!activityDetail.id" mat-raised-button color="primary" [disabled]="saveButtonDisabled" (click)="save()">Save</button>
  </span>
</form>
  