.activity-off {
  background-color: #BDBDBD;
  color: white;
  font-weight: bold;
}
.activity-swim {
  background: rgba(8, 192, 247, 1); 
  color: white;
  font-weight: bold;
}
.activity-bike {
  background: rgba(133, 222, 25, 1); 
  color: white;
  font-weight: bold;
}
.activity-run {
  background: rgba(247, 19, 16, 1); 
  color: white;
  font-weight: bold;
}
.activity-fitness {
  background: rgba(181, 107, 250, 1); 
  color: white;
  font-weight: bold;
}
.activity-race {
  background: rgba(250, 139, 22, 1); 
  color: white;
  font-weight: bold;
}   
.border-current-day {
  border: 5px solid red;
}
    