<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div fxLayout="row" fxLayoutAlign="center center" class="athlete">
  <div class="col text-right">
      Athlete : 
  </div>
  <div class="col text-left">
    <div *ngIf="currentAthlete != null">
      <div *ngIf="athletes$ | async;let athletes">
          <div *ngIf="athletes.length>1">
            <form [formGroup]="form">
              <select formControlName="athlete" #selectedAthlete [value]="currentAthlete.id" (change)="changeAthlete(selectedAthlete.value)">
                <option *ngFor="let athlete of athletes" [value]="athlete.id">
                  {{ athlete.name }}
                </option>
              </select>
            </form>
          </div>
          <div *ngIf="athletes.length==1">
            {{currentAthlete.name}}
          </div>
        </div>
    </div>  
  </div>  
</div>

<div *ngIf="(week$ | async); let week">
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
    <div class="col col-2">
      <button mat-icon-button color="primary" style="width: 160px" (click)="navigateToWeek(week.previousWeek)">
        <mat-icon aria-hidden="false">navigate_before</mat-icon> Previous week
      </button>
    </div>
    <div class="col col-8 text-center">
      <h3>Week #{{ week.number }}</h3>
      from {{ week.rangeFrom | date:'dd/MM/yyyy' }} to {{ week.rangeTo | date:'dd/MM/yyyy' }}
    </div>
    <div class="col col-2">
      <button mat-icon-button color="primary" class="float-right" style="width: 160px" (click)="navigateToWeek(week.nextWeek)">
        Next week<mat-icon aria-hidden="false">navigate_next</mat-icon>
      </button>
    </div>
  </div>

  <hr>

  <div *ngIf="(weekActivities$ | async); let weekActivities"
    fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
      <span *ngFor="let w of weekActivities; let dayIndex = index" fxFlex="auto"git status
      >
        <div (click)="dayAllDialog(dayIndex)"
         [appBorder]="w.day.date | date:'dd/MM/yyyy'" 
         class="col text-center">
          {{ w.day.date | date:'EEEE' }} <br> {{ w.day.date | date:'dd/MM/yyyy' }}
        </div>
        <div *ngFor="let act of w.activities; let actIndex = index" class="text-center">
          <ul class="list-group">
            <li class="list-group-item text-center" 
              (click)="dayAllDialog(dayIndex)"
              [appActivityColor]="{ name: act.categoryId, status: act.state, planned: act.planned, resume: true, view: 'planned' }"> 
              {{ act.categoryId | uppercase }}
              <mat-icon *ngIf="act.state == 0" aria-hidden="false" class="float-right">close</mat-icon>
              <mat-icon *ngIf="act.state == 1" aria-hidden="false" class="float-right">done</mat-icon>
              <mat-icon *ngIf="act.state == 2" aria-hidden="false" class="float-right">done</mat-icon>
            </li>
          </ul>
        </div>
      </span>
  </div>
</div>  
{{ animal }}