<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div *ngIf="(week$ | async); let week">
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
    <div class="col col-2">
      <button mat-icon-button color="primary" style="width: 160px" (click)="navigateToWeek(week.previousWeek)">
        <mat-icon aria-hidden="false">navigate_before</mat-icon> Previous week
      </button>
    </div>
    <div class="col col-8 text-center">
      <h3>Week #{{ week.number }}</h3>
      from {{ week.rangeFrom | date:'dd/MM/yyyy' }} to {{ week.rangeTo | date:'dd/MM/yyyy' }}
    </div>
    <div class="col col-2">
      <button mat-icon-button color="primary" class="float-right" style="width: 160px" (click)="navigateToWeek(week.nextWeek)">
        Next week<mat-icon aria-hidden="false">navigate_next</mat-icon>
      </button>
    </div>
  </div>

  <hr>
  <div *ngIf="(weekActivities$ | async); let weekActivities">
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
      <span *ngFor="let item of weekActivities; let index = index" [appBorder]="item.activityDay"  class="col text-center">
        {{ item.activityDay | date:'EEEE' }} <br> {{ item.activityDay | date:'dd/MM/yyyy' }}
      </span>
    </div>
    <!--
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
      <span *ngFor="let item of weekActivities.days" class="col">
        <ul class="list-group">
          <li *ngFor="let activity of item.activities"
            class="list-group-item text-center" 
            [appActivityColor]="activity"> 
            {{ activity.name | uppercase }}
            <mat-icon *ngIf="activity.status === 1" aria-hidden="false" class="float-right">done</mat-icon>
            <mat-icon *ngIf="activity.status === 0" aria-hidden="false" class="float-right">close</mat-icon>
          </li>
        </ul>
      </span>
    </div>
    -->
  </div>
</div>  