<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div *ngIf="(week$ | async); let week">
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
    <div class="col col-2">
      <button mat-icon-button color="primary" style="width: 160px" (click)="navigateToWeek(week.previousWeek)">
        <mat-icon aria-hidden="false">navigate_before</mat-icon> Previous week
      </button>
    </div>
    <div class="col col-8 text-center">
      <h3>Week #{{ week.number }}</h3>
      from {{ week.rangeFrom | date:'dd/MM/yyyy' }} to {{ week.rangeTo | date:'dd/MM/yyyy' }}
    </div>
    <div class="col col-2">
      <button mat-icon-button color="primary" class="float-right" style="width: 160px" (click)="navigateToWeek(week.nextWeek)">
        Next week<mat-icon aria-hidden="false">navigate_next</mat-icon>
      </button>
    </div>
  </div>

  <hr>

  <div *ngIf="(weekActivities$ | async); let weekActivities"
    fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
      <span *ngFor="let w of weekActivities; let index = index">
        <div [appBorder]="w.day.date | date:'dd/MM/yyyy'" class="col text-center">
          {{ w.day.date | date:'EEEE' }} <br> {{ w.day.date | date:'dd/MM/yyyy' }}
        </div>
        <div *ngFor="let act of w.activities" class="text-center">
          <ul class="list-group">
            <li fxFlexFill class="list-group-item text-center" 
              [appActivityColor]="{ name: act.categoryId, status: act.state, planned: act.planned }"> 
              {{ act.categoryId | uppercase }}
              <mat-icon *ngIf="act.state == 0" aria-hidden="false" class="float-right">close</mat-icon>
              <mat-icon *ngIf="act.state == 1" aria-hidden="false" class="float-right">done</mat-icon>
              <mat-icon *ngIf="act.state == 2" aria-hidden="false" class="float-right">done</mat-icon>
            </li>
          </ul>
        </div>
      </span>
  </div>
</div>  