/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.link {
    outline: 0;
    cursor: pointer;
}

.activity-off {
    background-color: #BDBDBD;
    color: white;
    font-weight: bold;
  }
  .activity-off-light {
    background: hsla(0, 0%, 95%);
    color: black;
    font-weight: bold;
  }
  .activity-swim {
    background: rgba(8, 192, 247, 1); 
    color: white;
    font-weight: bold;
  }
  .activity-swim-light {
    background: hsla(208, 80%, 85%);
    color: black;
    font-weight: bold;
  }
  .activity-bike {
    background: rgba(133, 222, 25, 1); 
    color: white;
    font-weight: bold;
  }
  .activity-bike-light {
    background: hsla(132, 80%, 85%);
    color: black;
    font-weight: bold;
  }
  .activity-run {
    background: rgba(247, 19, 16, 1); 
    color: white;
    font-weight: bold;
  }
  .activity-run-light {
    background: hsla(0, 100%, 85%);
    color: black;
    font-weight: bold;
  }
  .activity-fitness {
    background: rgba(181, 107, 250, 1); 
    color: white;
    font-weight: bold;
  }
  .activity-fitness-light {
    background: hsla(279, 100%, 85%);
    color: black;
    font-weight: bold;
  }
  .activity-race {
    background: rgba(250, 139, 22, 1); 
    color: white;
    font-weight: bold;
  }   
  .activity-race-light {
    background: hsla(23, 100%, 85%);
    color: black;
    font-weight: bold;
  }
  .border-current-day {
    border: 5px solid red;
  }
      